*.env
*.env.local
*.env.*.local
.envrc

go.work
go.work.sum

vendor/

.buf/

*.exe
*.exe~
*.dll
*.so
*.dylib

/services/**/cmd/*
!/services/**/cmd/*.go

*.test
*.prof
core

.vscode/
!.vscode/extensions.json
*.code-workspace

.idea/
*.iws

.DS_Store
Thumbs.db
